# global .gitignore
*.swp

# IDE
.idea/
.vscode/

# Rust
target/

# Mac files
**/.DS_STore

# node
node_modules/

# env
deployment/.env
dev_env

# other
*.session.sql
secrets/

# deployment
deployment/mainnet
deployment/testnet
deployment/preprod
deployment/preview
