[workspace]
members = [".", "entity", "migration", "rollback", "reparse", "tasks", "plan-visualizer"]

[package]
name = "carp"
version = "0.1.0"
edition = "2021"
license = "MIT"

[profile.release]
strip = true

[dependencies]
anyhow = "1.0.53"
serde = "1.0.136"
tokio = { version = "1.16.1", features = ["full"] }
entity = { path = "entity" }
migration = { path = "migration" }
tasks = { path = "tasks" }
hex = "0.4.3"
tracing-subscriber = "0.3.9"
tracing = "0.1.31"
dotenv = "0.15.0"
serde_json = "1.0.79"
base64 = "0.13.0"
bs58 = "0.4.0"
oura = "1.4.1"
clap = { version = "3.1", features = ["derive"] }
cardano-multiplatform-lib = { git = "https://github.com/dcSpark/cardano-multiplatform-lib", branch = "expand-whitelist" }
pallas = "0.9.1"
cryptoxide = "0.4.2"