[package]
name = "carp"
version = "2.1.2"
edition = "2021"
license = "MIT"

[profile.release]
strip = true

[dependencies]
deps = { git = "https://github.com/dcSpark/dcspark-core.git", branch = "egostkin/add-sources", commit = "ff166d3922f423102f18b300ae51b0c38ae18a4c" }
dcspark-core = { git = "https://github.com/dcSpark/dcspark-core.git", branch = "egostkin/add-sources", commit = "ff166d3922f423102f18b300ae51b0c38ae18a4c" }
dcspark-blockchain-source = { git = "https://github.com/dcSpark/dcspark-core.git", branch = "egostkin/add-sources", commit = "ff166d3922f423102f18b300ae51b0c38ae18a4c" }

anyhow = "1.0.53"
async-trait = { version = "0.1.57" }
serde = {version = "1.0.144", features = ["derive", "rc"]}
tokio = { version = "1.16.1", features = ["full"] }
entity = { path = "entity" }
migration = { path = "migration" }
tasks = { path = "tasks" }
hex = "0.4.3"
tracing-subscriber = "0.3.9"
tracing = "0.1.31"
dotenv = "0.15.0"
serde_json = "1.0.79"
serde_yaml = "0.9.13"
base64 = "0.13.0"
bs58 = "0.4.0"
oura = { git = "https://github.com/txpipe/oura.git", rev = "05e4d987670dea29a2d34ead3d57245ed7bcb205" }
clap = { version = "3.1", features = ["derive"] }
cardano-multiplatform-lib = { git = "https://github.com/dcSpark/cardano-multiplatform-lib", branch = "metadata-and-addr" }
num-integer = "0.1.45"
pallas = "0.17.0"
cryptoxide = "0.4.2"
