[package]
name = "tasks"
version = "0.0.0"
edition = "2021"

[lib]
name = "tasks"

[dependencies]
shred = { git = "https://github.com/dcSpark/shred", branch = "builder-getters" }
nameof = "1.2.2"
inventory = "0.2.3"
cardano-multiplatform-lib = { git = "https://github.com/dcSpark/cardano-multiplatform-lib", branch = "long-addr-fix" }
entity = { path = "../entity" }
tokio = { version = "1.16.1", features = ["full"] }
pallas = "0.9.1"
toml = "0.5"
hex = "0.4.3"
cryptoxide = "0.4.2"
futures = "0.3"
paste = "1.0"
cfg-if = "0.1"
markdown-gen = { git = "https://github.com/dcSpark/markdown-gen-rs", branch = "hbina-add-ability-to-write-raw-str" }
urlencoding = "2.1.0"
serde = { version = "1.0", features = ["derive"] }
tracing-subscriber = "0.3.9"
tracing = "0.1.31"

[features]
default = ["build_rust_task"]
build_rust_task = []
build_markdown_task = []
