version: "3.5"

services:
  postgres:
    restart: unless-stopped
    image: postgres:13.6 # 14.2, 13.6, 12.10, 11.15 # replace with correct major version on existing installations, no alpine
    shm_size: 8gb
    environment:
      - POSTGRES_LOGGING=true
      - POSTGRES_DB=${POSTGRES_DB:-carp}
      - PGPASSFILE=/run/secrets/.pgpass
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:?Export PG password}
      - POSTGRES_USER=${POSTGRES_USER:?Export PG username}
    secrets:
      - source: pgpass
        target: .pgpass
    volumes:
      - ./${NETWORK:-testnet}/postgres-data:/var/lib/postgresql/data

    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"
    ports:
      - "5432:5432"

  cardano-node:
    restart: unless-stopped
    image: inputoutput/cardano-node:1.34.1
    environment:
      - NETWORK=${NETWORK:-testnet}
    volumes:
      - ./${NETWORK:-testnet}/node-db:/data/db
      - ./${NETWORK:-testnet}/node-ipc:/ipc
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"

  carp:
    restart: unless-stopped

    build:
      context: ../
      dockerfile: Dockerfile
      target: carp
      args:
        - APP=/app
    environment:
      - NETWORK=${NETWORK:-testnet}
      - SOCKET=/app/node-ipc/node.socket
      - PGPASSFILE=/run/secrets/.pgpass
      - DATABASE_URL=${DATABASE_URL}
      - RUST_BACKTRACE=full
    secrets:
      - source: pgpass
        target: .pgpass
    volumes:
      - ./${NETWORK:-testnet}/node-ipc:/app/node-ipc:rw
    entrypoint:
      - /bin/bash
      - -c
      - |
        /app/migration up ;
        /app/carp ;
    depends_on:
      - postgres
      - cardano-node
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "10"

  # to run stack with backup, please uncomment this
  # currently supports only AWS s3. GCP and Azure TODO
  # postgres_backup:
  #   build:
  #     context: ./backuper
  #     dockerfile: Dockerfile
  #   restart: unless-stopped
  #   environment:
  #   - NETWORK=${NETWORK:-testnet}
  #   - CARDANO_NODE_SOCKET_PATH=/app/node-ipc/node.socket
  #   - POSTGRES_DB=${POSTGRES_DB:-carp}
  #   - POSTGRES_USER=${POSTGRES_USER:?Export PG username}
  #   - PGPASSFILE=/run/secrets/.pgpass
  #   - S3_BUCKET=${S3_BUCKET:?Please set me}
  #   - S3_FOLDER=${S3_FOLDER:?Recommend as hostname}
  #   - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID:?Please set me}
  #   - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY:?Please set me}
  #   volumes:
  #   - ./${NETWORK:-testnet}/node-ipc:/app/node-ipc:rw
  #   secrets:
  #   - source: pgpass
  #     target: .pgpass
  #   logging:
  #     driver: "json-file"
  #     options:
  #       max-size: "200k"
  #       max-file: "10"

secrets:
  pgpass:
    file: ./config/secrets/${NETWORK:-testnet}/.pgpass
