version: "3.5"

services:
  postgres:
    restart: unless-stopped
    image: postgres:13.6 # 14.2, 13.6, 12.10, 11.15 # replace with correct major version on existing installations, no alpine
    environment:
      - POSTGRES_LOGGING=true
      - POSTGRES_DB=cardano
      # - PGPASSFILE=/run/secrets/.pgpass
      - POSTGRES_PASSWORD=ouradb
      - POSTGRES_USER=oura
    secrets:
      - pgpass
    volumes:
      - ./${NETWORK:-testnet}/postgres-data:/var/lib/postgresql/data

    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"
    ports:
      - "5432:5432"

  cardano-node:
    restart: unless-stopped
    image: inputoutput/cardano-node:1.34.1
    environment:
      - NETWORK=${NETWORK:-testnet}
    volumes:
      - ./${NETWORK:-testnet}/node-db:/data/db
      - ./${NETWORK:-testnet}/node-ipc:/ipc
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"

  carp:
    restart: unless-stopped

    build:
      context: ../
      dockerfile: Dockerfile
      target: carp
      args:
        - APP=/app
    environment:
      - NETWORK=${NETWORK:-testnet}
      - SOCKET=/app/node-ipc/node.socket
      - PGPASSFILE=/run/secrets/.pgpass
      - DATABASE_URL=postgresql://oura:ouradb@postgres:5432/cardano
    secrets:
      - pgpass
    volumes:
      - ./${NETWORK:-testnet}/node-ipc:/app/node-ipc:rw
    entrypoint:
      - /bin/bash
      - -c
      - |
        /app/migration up ;
        /app/carp ;
    depends_on:
      - postgres
      - cardano-node
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "10"

secrets:
  pgpass:
    file: ./config/secrets/${NETWORK:-testnet}/.pgpass
